h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

input {
    padding: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.disabled-button {
    background-color: darkgrey;
    cursor: not-allowed;

}

.enabled-button {
    background-color: #c02b30;
}

p {
    color: red;
    font-size: 14px;
}
