.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-yes-button {
    width: 100%;
}

.modal-no-button {
    background-color: darkgrey;
    width: 100%;
}